body{
    height:100vh;
    width: 100vw;
    padding:0;
    border: 0;
    margin:0;
    /* background-color: #F5F7FA;
    color: #333333; */
    /* background-color: #121212;
    color: #EAEAEA; */
}
@media (max-width:768px){
    body{
        background-color: antiquewhite;
        font-size: 16px;
    }
}
@media (max-width:480px){
    body{
        background-color: antiquewhite;
        font-size: 14px;
    }
}
#name{
    color: orangered;
}
.hire{
    background-color: black;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: padding-left 1s,padding-right 1s,padding-top 1s,padding-bottom 1s;
    cursor: pointer;
    margin-right: 10px;

}
.hire:hover{
    /* padding: 25px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.exp{
    background-color: rgb(235, 31, 31);
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: padding-left 1s,padding-right 1s,padding-top 1s,padding-bottom 1s;
    cursor: pointer;
    margin-right: 10px;
}
.exp:hover{
    /* padding: 25px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.container{
    display: flex;
   width: 100vw;
   height: 50vh;
    /* background-color:antiquewhite; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 50%; /* Each div takes 50% width */
    padding: 20px;
    /* display: grid;
    place-items: center; */

    background-color: antiquewhite;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.applicantname{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: padding-left 1s,padding-right 1s,padding-top 1s,padding-bottom 1s;
    cursor: pointer;
    margin-right: 10px;
}
.applicantname:hover{
    /* padding: 25px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.port:hover{
    /* color:orangered; */
    color:orangered;
    
}
.about:hover{
    /* color:orangered; */
    color:orangered;
    
}
.edu:hover{
    /* color:orangered; */
    color:orangered;
    
}
.skill:hover{
    /* color:orangered; */
    color:orangered;
    
}
.cont:hover{
    /* color:orangered; */
    color:orangered;
    
}
.section {
    /* height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-bottom: 2px solid #ddd;
    display: block;
    text-align: center; */
    display: flex;
   width: 100vw;
   height: 50vh;
    /* background-color:antiquewhite; */
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
}
footer{
    background-color: #333;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;

}
.foo{
    display: flex;
}

.icon{
display: flex;
gap: 15px;
}
div{
    overflow: auto;

}
.ab{
    font-size: 18px;
}
/* #eduction{
    text-align: center;
    justify-content: center;
} */

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
}
footer{
    overflow: auto;
}
/* .section{
    overflow: hidden;
} */
 div{
    margin: 0px;
    padding: 0px;
    /* display: inline-block; */

 }
 h1,p{
    margin: 0;
    padding: 0;
 }
 .image{
    /* justify-content: center; */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50vh;
   
 }
 .img{
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    object-fit: cover;
 }
 /* style="background: linear-gradient(to right, #63cee9, #6a8288) */